body,html{
	font-family: 'Open Sans', "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei",sans-serif;
}
a {
    color: #fff;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:link,a:visited {
	text-decoration:none;
	color: #fff
}
a:hover, a.focus, a.active {
	outline: 0;
	color: #E87E04;
	background-color: transparent;
}
p{
	line-height: 28px;
    margin-bottom: 25px;
}

/* nav*/
#nav {
	z-index: 9999;
}
.mynavbar {
	margin-bottom: 0;
	background-color: #000;
	border-radius: 0px;
	padding: 6px 0;
}
.mynavbar .navbar-brand {
	font-weight: 600;
}
.mynavbar .nom{
	width:150px;
}
.mynavbar .navbar-brand:focus {
	outline: 0;
}
.mynavbar .navbar-brand .navbar-toggle {
	padding: 4px 6px;

	font-size: 16px;
	color: #fff;
}
.mynavbar .navbar-header .lan{
	display: inline-block;
	padding-top: 6px;
    margin-bottom: -6px;
}
.mynavbar .navbar-toggle .icon-bar {
	background-color: #fff;
}
.mynavbar .navbar-brand .navbar-toggle:focus, .mynavbar .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.mynavbar .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.mynavbar .nav li a:hover {
	outline: 0;
	color: #E87E04;
	background-color: transparent;
}
.mynavbar .nav li a:focus, .mynabvar .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #E87E04;
}
.mynavbar .nav li.active {
	outline: 0;
}
.mynavbar .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.mynavbar .nav li.active a:hover {
	color: #fff;
}
/*fin nav*/

/* header */
.myheader{
	background: url(../img/my_bg1.jpg)  no-repeat center top;
	margin-top: 60px;
	padding-top: 150px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 529px;
	width: 100%;
}
.myheader h1{
	font-family: "Raleway";
	font-size: 80px;
	color: #fff;
}
.myheader h3{
	font-family: "Raleway";
	font-size: 20px;
	color: #fff;
}
/* fin header */

/* about */
.myintro{
	background: #301b14;
	padding-top: 60px;
	padding-bottom: 60px;
}
.myintro h4{
	text-transform: uppercase;
	color: #fff;
	font-family: "Raleway",sans-serif;
	text-align: left;
}
.myintro p sm{
	font-family: "Raleway",sans-serif;
}
.myintro p{
	color: #fff;
	margin-bottom: 12px;
}
.myintro table{
	width: 80%;
	text-align:left;
}
.myintro td{
	color: #fff;
}
.myintro i{
	color: #fff
	vertical-align:middle;
	padding-right: 5px;
}
.myintro img{
	height: 200px;
	width: 200px;
	opacity:0.5;
  	filter:alpha(opacity=50); /* IE8 及其更早版本 */
}
img:hover
{
  opacity:1.0;
  filter:alpha(opacity=100); /* IE8 及其更早版本 */
}
/* fin about */